<include file="./application/Web/View/header.html"/>

	<!-- g公共部分 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/css/index.css" />
	<!-- 字体图片 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/css/font-awesome.min.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/css/style.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/css/main.css" />
<style>
	#bac_gua a{
		color: #fff;
		border-radius: 5px;
		background:#fb821a;
		width: 100%;
		display: block;
	}
</style>
	<!-- 内容 -->
	<div class="main">
		<div class="banner_cat">
			<img src="__PUBLIC__/Web/images/cart_ban.png" />
		</div>


		<!--<div class="cent">-->
			<!--<div class="cat_menu" id="menu">-->
				<!--<li class="cat_hover"><a href="#one"><img src="__PUBLIC__/Web/images/cat_menu_1.png" /><h1>正品保证</h1></a></li>-->
				<!--<li><a href="#two"><img src="__PUBLIC__/Web/images/cat_menu_2.png" /><h1>心水好货</h1></a></li>-->
				<!--<li><a href="#thress"><img src="__PUBLIC__/Web/images/cat_menu_3.png" /><h1>发货快捷</h1></a></li>-->
				<!--<li><a href="#furl"><img src="__PUBLIC__/Web/images/cat_menu_4.png" /><h1>贴心客服</h1></a></li>-->
				<!--<div class="up_top" >-->
					<!--<a href="#top"><i class="fa fa-angle-up"></i>回到顶部</a>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<div class="cent">
			<div class="cat_menu" id="menu">
				<li class="cat_hover"><a href="#one"><img src="__PUBLIC__/Web/images/cat_menu_1.png" /><h1>正品保证</h1></a></li>
				<li><a href="#two"><img src="__PUBLIC__/Web/images/cat_menu_2.png" /><h1>心水好货</h1></a></li>
				<li><a href="#thress"><img src="__PUBLIC__/Web/images/cat_menu_3.png" /><h1>发货快捷</h1></a></li>
				<li><a href="#furl"><img src="__PUBLIC__/Web/images/cat_menu_4.png" /><h1>贴心客服</h1></a></li>
				<div class="up_top" >
					<a href="#top"><i class="fa fa-angle-up"></i>回到顶部</a>
				</div>
			</div>
		</div>



		<div class="one" id="one">
			<div class="cat_menu_one car_one">
				<h1>100%正品保证</h1>
				<p>goosebabe专为亿万妈妈打招的“发家根据地”，种草拔草每一天！</p>
			</div>

			<div class="cat_main_one">
				<div class="cents">
					<p>为妈妈们精选最正的商品，每一件商品，都源自正规品牌商。</br>
					营业执照、税务登记证、组织机构代码、进口商品报关单、质检商检报告，你能想到的，我们一个都不少！</p>

					<h1>01 供应商资质审核</h1>

					<img   src="__PUBLIC__/Web/images/zhiz.png" />

					<!--<h1>02 供应商资质审核</h1>-->
					<!--<img src="__PUBLIC__/Web/images/zhiz1.png" />-->

					<!--<h1>03 供应商资质审核</h1>-->
					<!--<img src="__PUBLIC__/Web/images/zhiz2.png" />-->



				</div>
			</div>
		</div>


		<!--<div class="two" id="two">-->
			<!--<div class="cat_menu_one car_two">-->
				<!--<h1>水心好货</h1>-->
				<!--<p>千万妈妈口碑相传、万千辣妈体验后鼎力推荐</p>-->
			<!--</div>-->

			<!--<div class="cat_main_one">-->
				<!--<div class="cents">-->
					<!--<img src="__PUBLIC__/Web/images/car_two_pic.png"  style="margin:20px 0px ;"/>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="thress" id="thress">-->
			<!--<div class="cat_menu_one car_ther">-->
				<!--<h1>24小时快速发货</h1>-->
				<!--<p>我们在为缩短发货的每一秒努力</p>-->
			<!--</div>-->

			<!--<div class="cat_main_one">-->
				<!--<div class="cents">-->
					<!--<img src="__PUBLIC__/Web/images/24_hour.png"  style="margin:20px 0px ;"/>-->
					<!--<p>goosebabe采取多点的配送方式，以满足不同要求的父母，而我们一直致力缩短海外产品到达父母手中的时间，所以goosebabe会大批量采购货物直达国内仓库。因此，goosebabe的产品最快可以一天到达父母手中。</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="furl" id="furl">-->
			<!--<div class="cat_menu_one car_furl">-->
				<!--<h1>贴心客服</h1>-->
				<!--<p>goosebabe 近80%都是孩子爸妈，我们懂你</p>-->
			<!--</div>-->

			<!--<div class="cat_main_one">-->
				<!--<div class="cents">-->
					<!--<img src="__PUBLIC__/Web/images/service.png"  style="margin:20px 0px ;"/>-->
					<!--<p>来到goosebabe,每一个人都是您的贴心客服，同为萌宝爸妈，你关心的也是我们关心的。</br>团队82%的人都有娃，你说我们懂不懂母婴产品么？</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="service_cout">-->
			<!--<div class="cents">-->
				<!--<li>-->
					<!--<img src="__PUBLIC__/Web/images/cout_serv.png" />-->
					<!--<h1>客服电话</h1>-->
					<!--<p>400-123-4567</p>-->
				<!--</li>-->

				<!--<li>-->
					<!--<img src="__PUBLIC__/Web/images/cout_wachat.png" />-->
					<!--<h1>官方微信</h1>-->
					<!--<p>1234566</p>-->
				<!--</li>-->

				<!--<li>-->
					<!--<img src="__PUBLIC__/Web/images/cout_micro.png" />-->
					<!--<h1>官方微博</h1>-->
					<!--<p>464564564564</p>-->
				<!--</li>-->

				<!--<li>-->
					<!--<img src="__PUBLIC__/Web/images/cout_email.png" />-->
					<!--<h1>邮箱</h1>-->
					<!--<p>132512703@qq.com</p>-->
				<!--</li>-->
			<!--</div>-->
		<!--</div>-->

		<div class="two" id="two">
			<div class="cat_menu_one car_two">
				<h1>水心好货</h1>
				<p>千万妈妈口碑相传、万千辣妈体验后鼎力推荐</p>
			</div>

			<div class="cat_main_one">
				<div class="cents">
					<img src="__PUBLIC__/Web/images/car_two_pic.png"  style="margin:20px 0px ;"/>
				</div>
			</div>
		</div>

		<div class="thress" id="thress">
			<div class="cat_menu_one car_ther">
				<h1>24小时快速发货</h1>
				<p>我们在为缩短发货的每一秒努力</p>
			</div>

			<div class="cat_main_one">
				<div class="cents">
					<img src="__PUBLIC__/Web/images/24_hour.png"  style="margin:20px 0px ;"/>
					<p>goosebabe采取多点的配送方式，以满足不同要求的父母，而我们一直致力缩短海外产品到达父母手中的时间，所以goosebabe会大批量采购货物直达国内仓库。因此，goosebabe的产品最快可以一天到达父母手中。</p>
				</div>
			</div>
		</div>

		<div class="furl" id="furl">
			<div class="cat_menu_one car_furl">
				<h1>贴心客服</h1>
				<p>goosebabe 近80%都是孩子爸妈，我们懂你</p>
			</div>

			<div class="cat_main_one">
				<div class="cents">
					<img src="__PUBLIC__/Web/images/service.png"  style="margin:20px 0px ;"/>
					<p>来到goosebabe,每一个人都是您的贴心客服，同为萌宝爸妈，你关心的也是我们关心的。</br>团队82%的人都有娃，你说我们懂不懂母婴产品么？</p>
				</div>
			</div>
		</div>

		<div class="service_cout">
			<div class="cents">
				<li>
					<img src="__PUBLIC__/Web/images/cout_serv.png" />
					<h1>客服电话</h1>
					<p>400-123-4567</p>
				</li>

				<li>
					<img src="__PUBLIC__/Web/images/cout_wachat.png" />
					<h1>官方微信</h1>
					<p>1234566</p>
				</li>

				<li>
					<img src="__PUBLIC__/Web/images/cout_micro.png" />
					<h1>官方微博</h1>
					<p>464564564564</p>
				</li>

				<li>
					<img src="__PUBLIC__/Web/images/cout_email.png" />
					<h1>邮箱</h1>
					<p>132512703@qq.com</p>
				</li>
			</div>
		</div>


		
<!-- footer -->
<include file="./application/Web/View/footer.html"/>

<!-- jquery -->
<script type="text/javascript" src="__PUBLIC__/Web/js/jquery.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/Web/js/scrollTo.js"></script>



<script type="text/javascript" language="javascript">
	$(function(){
	  $("#menu").scrollTo(500)
	});
</script>