<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="data-spm" content="a215s"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta content="fullscreen=yes,preventMove=no" name="ML-Config"/>
    <title>Goosebabe所有商品绝对全部出自于加拿大本土生产，所有商品不会有任何中间商家介入销售，由Goosebabe公司全权负责，请消费者放心使用</title>
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='__PUBLIC__/images/300X300.png'/>
    </div>

    <!-- g公共部分 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/share/index.css"/>

</head>
<body>
<div class="main">
    <div class="code">
        <img src="__PUBLIC__/images/code.png"/>
    </div>
</div>

</body>
</html>