	<include file="./application/Web/View/header.html"/>

	<!-- g公共部分 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/css/index.css" />
	<!-- 字体图片 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/css/font-awesome.min.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/css/main.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/css/style.css" />

	<!-- jquery -->
	<script type="text/javascript" src="__PUBLIC__/Web/js/jquery.min.js"></script>

	<!-- 弹窗 -->
	<script type="text/javascript" src="__PUBLIC__/Web/js/jquery.layer.js"></script>

	<style>
		#bac_shop a{
			color: #fff;
			border-radius: 5px;
			background:#fb821a;
			width: 100%;
			display: block;

		}
		#layui-layer-iframe1  body{
			margin: 0px;
		padding: 0px;
		}
	</style>

	<!-- banner -->
	<div class="main">
		<div class="cent">
			<div class="address_show shops">
				<h1>选择支付方式</h1>
				<img src="__PUBLIC__/Web/images/shadow.png" />
			</div>

			<div class="shoping_cart_show">
				<h1>您可以选择以下方式进行支付</h1>

				<form method="post" action="{:U('Alipay/doalipay')}">
				<li >
					<input type="hidden" value="{$order_sun}" name="order_sn">
					<input type="hidden" value="alipay" name="paytype" >
					<input type="submit" value="支付宝支付" /> <span class="alipay_men">支付<b>￥{$total_price}</b>元</span>
				</li>

				</form>


				<!--<form method="post" action="{:U('Order/pay')}">-->
				<li>
					<a href="#" onclick="wx()"><img src="__PUBLIC__/Web/images/wechat.png"  /> 微信支付   <span>支付<b>￥{$total_price}</b>元</span></a>
					<input type="hidden" value="{$order_sun}" name="order_sn" id="order_sun">
					<input type="hidden" value="wxpay" name="paytype" >
				</li>


				<!--<input type="submit" value="微信支付"/>-->

				<!--</form>-->
			</div>
			
			
		</div>

<!-- footer -->
<include file="./application/Web/View/footer.html"/>

<script language=javascript>
	$("#all").click(function(){    
    if(this.checked){    
        $("#shoping_all :checkbox").attr("checked", true);   
    }else{    
        $("#shoping_all :checkbox").attr("checked", false); 
    } 
}); 
</script>

<script>
	function wx(){
		var action = "{:U('Order/pay')}";
		var type = "wxpay";
		var z_order_sun = $('#order_sun').val();

//		layer.open({
//			type: 2,
//			title: 'GooseBabe微信支付',
//			shadeClose: true,
//			shade: 0.8,
//			area: ['320px', '320px'],
//			content: 'http://goosetest.cdth.cn/index.php?g=Web&m=Order&a=pay&paytype=wxpay&order_sn='+z_order_sun,
//		});

		layer.open({
			type: 2,
			title: 'GooseBabe微信支付',
			closeBtn: 0, //不显示关闭按钮
			anim: 2,
			shadeClose: true, //开启遮罩关闭
			area: ['340px', '380px'],
			content: 'http://www.goosebabe.com/Web/Order/pay/paytype/wxpay/order_sn/'+z_order_sun,
		});


	}

	function GetOrder(){
		var zid=$('#order_sun').val();
		$.ajax({
			type: "post",
			dataType: "json",
			url: "{:U('Order/order_status')}",
			data: {id:zid},
			success: function(data){
				if (data == 1 ){
					location.href = "{:U('Order/pay_success')}";
				}
			}
		});
	}
	window.setInterval("GetOrder()",2000);


</script>

